Piste_Noire/Nodered_flows_MQTTchirpstack.json
[
    {
        "id": "2976a6c32ce46180",
        "type": "tab",
        "label": "Flux 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c627577d4a91df1c",
        "type": "mqtt in",
        "z": "2976a6c32ce46180",
        "name": "fromChirpStack",
        "topic": "application/b3d88ae7-029c-4961-aea1-668ef75a91da/device/0004a30b00f4623d/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8e2d6062fd95710f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "c711353dcc9d170f"
            ]
        ]
    },
    {
        "id": "c711353dcc9d170f",
        "type": "function",
        "z": "2976a6c32ce46180",
        "name": "function 3",
        "func": "let buff = new Buffer(msg.payload.data,\"base64\");\nlet val = (buff[0] + 256*buff[1])*5/1024;\n\n//let varChar = buff.toString('ascii');\n//let val = varChar.charCodeAt(0);\nreturn {\"payload\":val};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "871e9f1f205aed17",
                "88d597ca8ad5452d",
                "16151db58c333c5e",
                "bb9f1aab9e789e99",
                "85b3c591ce5a3bf2"
            ]
        ]
    },
    {
        "id": "871e9f1f205aed17",
        "type": "debug",
        "z": "2976a6c32ce46180",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "88d597ca8ad5452d",
        "type": "ui_text",
        "z": "2976a6c32ce46180",
        "group": "f598d95aea4c682c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "SENSING_DISPLAY",
        "label": "",
        "format": "Gas: {{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "16151db58c333c5e",
        "type": "ui_toast",
        "z": "2976a6c32ce46180",
        "position": "top right",
        "displayTime": "1",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "bb9f1aab9e789e99",
        "type": "ui_chart",
        "z": "2976a6c32ce46180",
        "name": "",
        "group": "f598d95aea4c682c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "da8b67a7ea3133c1",
        "type": "ui_gauge",
        "z": "2976a6c32ce46180",
        "name": "",
        "group": "f598d95aea4c682c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "mg/L (Alcohol)",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "7915b9d89506db4a",
        "type": "function",
        "z": "2976a6c32ce46180",
        "name": "function 4",
        "func": "\nreturn {\"payload\":msg.payload*2};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "da8b67a7ea3133c1"
            ]
        ]
    },
    {
        "id": "85b3c591ce5a3bf2",
        "type": "convert",
        "z": "2976a6c32ce46180",
        "name": "",
        "convertTo": "number",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "7915b9d89506db4a"
            ]
        ]
    },
    {
        "id": "8e2d6062fd95710f",
        "type": "mqtt-broker",
        "name": "chirpstack",
        "broker": "srv-chirpstack.insa-toulouse.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f598d95aea4c682c",
        "type": "ui_group",
        "name": "Gas sensor",
        "tab": "791b7edca0756309",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "791b7edca0756309",
        "type": "ui_tab",
        "name": "Home_sensor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]